.conteudo-texto-anotacoes {
	color: #ffffff;	
}

.insercao-anotacao {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #a8aba8;
	display: none;
}

.anotacao {
	height: auto;
	background: #5f5f5f;
	position: relative;
	margin-bottom: 1px;
}
.anotacoesSalvas h3{
	color: #5f5f5f;
	margin: 10px;
}

.anotacao h2 {
	font-size: 1em;
}

.anotacao:hover {
	background: #a8aba8;
}
.tituloNovaDiv {
	display: inline-block;
	margin:10px 10px 15px 10px;

}
.conteudo-texto-anotacoes {
	margin-left: 10px;
}
.sumir {display: none}

.aparecer {display: block !important;}
