/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*definições gerais*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


/*CSS reset*/
	*{margin: 0; 
	 padding: 0; 
	 box-sizing: border-box;}

	.col-1 { width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 24.99%;}
	.col-4 {width: 33.32%;}
	.col-5 {width: 41.65%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;} 

	.row::affer {
		content: "";
		clear: both;
		display: block;
	}

	[class*="col-"] {height: auto;}

	h1, h2, h3, h4, li, label, button {
		color: #ffffff;
		font-family: Arial Narrow, sans-serif;
		text-transform: uppercase;
	}

	p {
		font-family: Arial Narrow, sans-serif;
	}
	
	li {
		list-style-type: none;	
	}
	a {
		text-decoration: none;
	}

/**xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx**/
/**xxxDEFINIÇÕES DE BOTÃOxxxx**/
/**xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx**/

button {
	width: 70px;
	border-radius: 5px;
	border: 2px solid #5f5f5f;
	color: #5f5f5f;
	font-family: Arial Narrow, sans-serif;
	text-transform: uppercase;
	font-weight: bold;	
}
button:hover {
	background: #4f4f4f;
	color: #4caf50;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/	
/*definições container-geral*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.container-geral{
	height: auto;
	margin: 0 auto;
	max-width: 1400px !important;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/	
/*Definições de cabecalho*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.cabecalho {
	height: 70px;
	background: #5f5f5f;
	border-radius: 50px  50px 0 0;
	position: relative;
	text-align: center;
}

.cabecalho h1 {
	padding-top: 10px;
	display: inline-block;
	margin: 0 auto;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*Definições para botão para expandir formulários*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.botao {
	border-bottom: 2px solid #a8aba8;
}
.botao h3 {
	cursor: pointer;
	color: #5f5f5f;
	display: inline-block;
}

form {
	color: black;
	font-family: Arial Narrow, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

label {
	font-size: 18px;
}
label, button {
	color: #5f5f5f;
	margin-left: 10px;
	margin-top: 10px;
}

textarea {
	width: 100%;
	border: 2px solid #5f5f5f;
	border-radius: 10px;
}
textarea:focus {
	color: #ffffff;
	background: #5f5f5f;
	font-size: 1em;
	border:none;
}
/*//xxx*/

label {
	display: block;
	color: #5f5f5f;
	margin-left: 10px;
	font-weight: 800;
}
input, select, option {
	width: 100%;
	height: 40px;
	border-radius: 10px;
	border:2px solid #5f5f5f;
}
input:focus {
	color: #ffffff;
	background: #5f5f5f;
	font-size: 1em;
	border:none;
}
select:focus {
	color: #ffffff;
	background: #5f5f5f;
	font-size: 1em;
	border:none;
}
button {
	margin: 10px;
}
::-webkit-input-placeholder {
	font-size: 12px;
	font-style: italic;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxdefinições gerais de icones xxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*definições menu do botão  menu bar***/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.menu-bar{
	display: inline;
	cursor: pointer;
	height: 		 40px ;
	width:   		 40px ;
	position: absolute;
	right: 10px;
}
.barra-superior, .barra-central, .barra-inferior {
	width: 100%;
	height: 8px;
	background: #5f5f5f;
	border-radius: 3px;
	width: 40px;
}

.barra-superior{
	margin-top: 4px;
	margin-bottom: 4px;
}
.barra-central {
	margin-bottom: 4px; 
}
.barra-inferior{
	margin-top: 4px;	
}

.menu-barra-Sup {
	transform: rotate(-45deg);
	animation-name: menu-barra-superior;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.menu-barra-Inf {
	transform: rotate(45deg);
	animation-name: menu-barra-inferior;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes menu-barra-superior{
	from    {position: absolute;
			 top: 0;}
	to   	{position: absolute;
			 top: 15px;}
}

.desaparecer-barra-central {
	display: none;
}

@keyframes menu-barra-inferior {
	from {position: absolute;
			 top: 0;}
	to {position: absolute;
			 top: 15px;}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*icone logout*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.fa-sign-out-alt {
	position: absolute;
	right: 15px;
	top: 15px;
	color:#ffffff;
}

.fas {
	font-size: 30px;
	color:#5f5f5f;
	margin:10px 0 0 10px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*Classe para animation giratório*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.girar{
	animation-name: girar-icone;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes girar-icone {
	0%  {transform: rotate(0deg);}
	30% {transform: rotate(20deg);}
	60% {transform: rotate(-20deg);}
	100%{transform: rotate(0deg);}
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*Definições de menu*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.aparecer {
	display: block !important;
}
.menu-para-celular {
	height: 40px;
	background: #a8aba8;
	position: relative;
	display: none;
}

.menu-para-celular h2 {
	display: inline-block;
	color: #5f5f5f;
	margin: 10px;

}

.menu {
	height: auto;
	background: #a8aba8;
	overflow: auto;
}

.menu ul li {
	height: 40px;
	width: 20%;
	float: left;
	text-align: center;
}
.menu ul li:hover {
	background: #4f4f4f;
}
.menu ul li a {
	color:#ffffff;
	display: block;
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 1px;
}
.menu ul li a:hover {
	color: #4caf50;
}

	.filho1, .filho2, .filho3, .filho4, .filho5 {
	animation-name: indicador-menu;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
	@keyframes indicador-menu {
		from {background-color: #a8aba8; color: white;}
		to   {background-color: #5f5f5f; color: black;}
	}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*Definições do conteúdo*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.container-conteudo {
	height: auto;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*definições de rodapé*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.rodape {
	text-align: center;
	height:50px;
	border-radius: 0 0 50px 50px;
	background: #5f5f5f; 
}
.rodape p {
	color: #ffffff;
	font-family: courier, sans-serif;
	font-size: 10px;
}
.rodape p a { color:#ffffff;}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*Definições para dispositivo móvel*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media only screen and (max-width: 768px){

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*Definições Gerais*/

	
	[class*="col-"] {
		width: 100%;
		border-radius:0 0 0 0;
	}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/	
/*definições do container-geral*/	


	.container-geral {
		min-width:320px !important;
	}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/	
/*definições de Menu*/
		
	.menu-para-celular {display: block;}

	.menu {display: none;}

	.aparecer {display: block !important;}

	.sumir {display: none !important;}

	.menu ul li {
		float: none;
		width: 100%;
		height: 30px;
	}
	.menu ul li a {
		padding: 0;
		padding-bottom: 10px;
	}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/	
/*definições de rodapé*/	
	
}